@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  *,
  ::before,
  ::after {
    border-width: 0;
    border-style: solid;
  }

  body {
    margin: 0;
    line-height: inherit;
    overscroll-behavior: none;
  }

  h1,
  h2,
  h3 {
    font-weight: 700;
  }

  h1 {
    font-size: 30px;
  }

  h2 {
    font-size: 24px;
  }

  h3 {
    font-size: 20px;
  }

  a {
    color: inherit;
    text-decoration: inherit;
  }
}

@layer utilities {
  .title {
    @apply text-lg font-bold;
  }

  .auth-wrapper {
    @apply max-w-[506px] mx-auto flex-1 space-y-5;
  }
}
